/*Font Import*/
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Romanesco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
}

.romanesco-regular {
  font-family: "Romanesco";
  font-weight: 400;
  font-style: normal;
}

.jura-regular {
  font-family: "Jura";
  font-weight: 400;
  font-style: normal;
}

/*End of Font Import*/

.charsheet .sheet-mainpage {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 845px;
}

/*Toggles*/
.sheet-block-a,
.charsheet .sheet-block-switch:checked ~ .sheet-block-b {
  display: block;
}

.charsheet .sheet-block-b,
.charsheet .sheet-block-switch:checked ~ .sheet-block-a {
  display: none;
}

.sheet-block-attack-hide,
.charsheet .sheet-block-attack-switch:checked ~ .sheet-block-attack-show {
  display: block;
}

.charsheet .sheet-block-attack-show,
.charsheet .sheet-block-attack-switch:checked ~ .sheet-block-attack-hide {
  display: none;
}

.sheet-traits-hide,
.charsheet .sheet-traits-switch:checked ~ .sheet-traits-show {
  display: block;
}

.charsheet .sheet-traits-show,
.charsheet .sheet-traits-switch:checked ~ .sheet-traits-hide {
  display: none;
}

.charsheet .sheet-limitbreak-a,
.charsheet .sheet-limitbreak-switch:checked ~ .sheet-limitbreak-b {
  display: block;
}

.charsheet .sheet-limitbreak-b,
.charsheet .sheet-limitbreak-switch:checked ~ .sheet-limitbreak-a {
  display: none;
}

.charsheet .sheet-currency-edit,
.charsheet .sheet-currency-switch:checked ~ .sheet-currency-display {
  display: flex;
}

.charsheet .sheet-currency-display,
.charsheet .sheet-currency-switch:checked ~ .sheet-currency-edit {
  display: none;
}

.charsheet .sheet-currency-display .split {
  width: 50%;
  height: 100%;
  top: 0;
}

.charsheet .sheet-currency-display .left {
  left: 0;
  text-align: left;
}

.charsheet .sheet-currency-display .right {
  display: flex;
  flex-direction: row-reverse;
  right: 0;
  text-align: right;
}

.charsheet .sheet-currency-display input[type=number]::-webkit-inner-spin-button,
.charsheet .sheet-currency-display input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.charsheet .sheet-currency-display input[type=number] {
  text-align: right;
}

.charsheet .sheet-item-display .sheet-itemamount-input input[type=number]  {
  text-align: right;
}

.charsheet .sheet-currency-display .sheet-itemamount {
  position: absolute;

}

.charsheet .sheet-item-edit,
.charsheet .sheet-item-switch:checked ~ .sheet-item-display {
  display: block;
}

.charsheet .sheet-item-display,
.charsheet .sheet-item-switch:checked ~ .sheet-item-edit {
  display: none;
}

.charsheet .sheet-requirementfield {
  display: none;
}

.charsheet .sheet-requirementcheckbox:checked ~ .sheet-requirementfield {
  display: flex;
}

.charsheet .sheet-triggerfield {
  display: none;
}

.charsheet .sheet-triggercheckbox:checked ~ .sheet-triggerfield {
  display: flex;
}

.charsheet .sheet-costfield {
  display: none;
}

.charsheet .sheet-costcheckbox:checked ~ .sheet-costfield {
  display: flex;
}

.charsheet .sheet-targetfield {
  display: none;
}

.charsheet .sheet-targetcheckbox:checked ~ .sheet-targetfield {
  display: flex;
}

.charsheet .sheet-rangefield {
  display: none;
}

.charsheet .sheet-rangecheckbox:checked ~ .sheet-rangefield {
  display: flex;
}

.charsheet .sheet-checkfield {
  display: none;
}

.charsheet .sheet-checkcheckbox:checked ~ .sheet-checkfield {
  display: flex;
}

.charsheet .sheet-crfield {
  display: none;
}

.charsheet .sheet-crcheckbox:checked ~ .sheet-crfield {
  display: flex;
}

.charsheet .sheet-directeffectfield {
  display: none;
}

.charsheet .sheet-directeffectcheckbox:checked ~ .sheet-directeffectfield {
  display: flex;
}

.charsheet .sheet-limitbreakTargetField {
  display: none;
}

.charsheet .sheet-limitbreaktargetcheckbox:checked ~ .sheet-limitbreakTargetField {
  display: flex;
}

.charsheet .sheet-limitbreakRangeField {
  display: none;
}

.charsheet .sheet-limitbreakrangecheckbox:checked ~ .sheet-limitbreakRangeField {
  display: flex;
}

.repcontainer .repitem {
  padding-bottom: 25px;
}

.hide {
  display: none;
}

.charsheet .sheet-mainpage,
.charsheet .sheet-abilitiespage {
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="character"] ~ div.sheet-mainpage,
.charsheet .sheet-tabstoggle[value="abilities"] ~ div.sheet-abilitiespage {
    display: block;
}

.charsheet .sheet-limitation {
  display: none;
}

.charsheet .sheet-limitation-collapsed {
  display: none;
}

.charsheet .sheet-limitationshow:checked ~ .sheet-limitation {
  display: flex;
}

.charsheet .sheet-limitationshow:checked ~ .sheet-limitation-collapsed {
  display: flex;
}

.charsheet .sheet-target {
  display: none;
}

.charsheet .sheet-targetshow:checked ~ .sheet-target {
  display: flex;
}

.charsheet .sheet-range {
  display: none;
}

.charsheet .sheet-rangeshow:checked ~ .sheet-range {
  display: flex;
}

.charsheet .sheet-abilitycheck {
  display: none;
}

.charsheet .sheet-abilitycheckshow:checked ~ .sheet-abilitycheck {
  display: flex;
}

.charsheet .sheet-abilitycr {
  display: none;
}

.charsheet .sheet-abilitycrshow:checked ~ .sheet-abilitycr {
  display: flex;
}

.charsheet .sheet-abilitybaseeffect {
  display: none;
}

.charsheet .sheet-abilitybaseeffectshow:checked ~ .sheet-abilitybaseeffect {
  display: flex;
}

.charsheet .sheet-abilitydirecthit {
  display: none;
}

.charsheet .sheet-abilitydirecthitshow:checked ~ .sheet-abilitydirecthit {
  display: flex;
}

.charsheet .sheet-trigger {
  display: none;
}

.charsheet .sheet-triggershow:checked ~ .sheet-trigger {
  display: flex;
}

.charsheet .sheet-requirement {
  display: none;
}

.charsheet .sheet-requirementshow:checked ~ .sheet-requirement {
  display: flex;
}

.charsheet .sheet-block-c {
  display: none;
}

.charsheet .sheet-block-collapse:checked ~ .sheet-block-b {
  display: none;
}

.charsheet .sheet-block-collapse:checked ~ .sheet-block-c {
  display: block;
}

.charsheet .sheet-limitbreaktrigger {
  display: none;
}

.charsheet .sheet-limitbreaktriggershow:checked ~ .sheet-limitbreaktrigger {
  display: flex;
}

.charsheet .sheet-limitbreaktarget {
  display: none;
}

.charsheet .sheet-limitbreaktargetshow:checked ~ .sheet-limitbreaktarget {
  display: flex;
}

.charsheet .sheet-limitbreakrange {
  display: none;
}

.charsheet .sheet-limitbreakrangeshow:checked ~ .sheet-limitbreakrange {
  display: flex;
}

.charsheet .sheet-limitbreakbaseeffect {
  display: none;
}

.charsheet .sheet-limitbreakbaseeffectshow:checked ~ .sheet-limitbreakbaseeffect {
  display: flex;
}

.charsheet .sheet-limitbreakbaseeffectdie {
  display: none;
}

.charsheet .sheet-limitbreakbaseeffectdieshow:checked ~ .sheet-limitbreakbaseeffectdie {
  display: flex;
}

.charsheet .sheet-cost {
  display: none;
}

.charsheet .sheet-costshow:checked ~ .sheet-cost {
  display: flex;
}

.charsheet .sheet-limitbreak-c {
  display: none;
}

.charsheet .sheet-limitbreakcollapse:checked ~ .sheet-limitbreak-c {
  display: block;
}

.charsheet .sheet-limitbreakcollapse:checked ~ .sheet-limitbreak-a {
  display: none;
}

.charsheet .sheet-traits-collapsed {
  display: none;
}

.charsheet .sheet-traits-collapse:checked ~ .sheet-traits-collapsed {
  display: block;
}

.charsheet .sheet-traits-collapse:checked ~ .sheet-traits-show {
  display: none;
}

.charsheet .sheet-item-collapsed {
  display: none;
}

.charsheet .sheet-item-collapse:checked ~ .sheet-item-collapsed {
  display: block;
}

.charsheet .sheet-item-collapse:checked ~ .sheet-item-display {
  display: none;
}

.charsheet .traitdiv .chargesdisplay {
  visibility: hidden;
}

.charsheet .traitdiv .chargesdisplay_check:checked ~ .chargesdisplay {
  visibility: visible;
}

.charsheet .currencydiv .currencymaxdisplay {
  visibility: hidden;
}

.charsheet .currencydiv .sheet-currencymax-display:checked ~ .sheet-currency-display .currencymaxdisplay {
  visibility: visible;
}

.charsheet .sheet-itemtier {
  display: none;
}

.charsheet .sheet-itemtiershow:checked ~ .sheet-itemtier {
  display: flex;
}

.charsheet .sheet-itemtarget {
  display: none;
}

.charsheet .sheet-itemtargetshow:checked ~ .sheet-itemtarget {
  display: flex;
}

.charsheet .sheet-itemrange {
  display: none;
}

.charsheet .sheet-itemrangeshow:checked ~ .sheet-itemrange {
  display: flex;
}

.charsheet .sheet-itemcost {
  display: none;
}

.charsheet .sheet-itemcostshow:checked ~ .sheet-itemcost {
  display: flex;
}

.charsheet .sheet-itemamount {
  display: none;
}

.charsheet .sheet-itemamountshow:checked ~ .sheet-itemamount {
  display: flex;
}

/*End of Toggles*/



/*Header Section*/
.charsheet .sheetTabs button {
  font-family: "Jura";
  font-weight: 700;
  font-size: 1.3em;
}

.charsheet .sheetTabs button:hover {
  color: darkgray;
}

.charsheet .sheetTabs {
  position: absolute;
  left: 675px;
  top: 45px;
  z-index: 5;
}

.charsheet .headerbar {
  display: flex;
}

.charsheet .headerbar img {
  width: 30%;
}

.charsheet .headerbar .headerbar-right {
  width: 67%;
  margin-left: 10px;
  margin-bottom: 3px;
  position: relative;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0.4em;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(40,40,40);
  background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(74,74,74,1) 10%, rgba(74,74,74,1) 90%, rgba(97,97,97,1) 100%);
  color: white;
}

.charsheet .headerbar .headerbar-right .headerbar-right-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  font-family: "Jura";
  font-size: 14px;

}

.charsheet .headerbar .headerbar-right .headerbar-right-grid input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 180px;
  font-size: 20px;
  font-weight: 800;
}

.div1 { 
  grid-area: 1 / 1 / 2 / 2; 
}
.div2 { 
  grid-area: 1 / 2 / 2 / 3; 
}
.div3 { 
  grid-area: 1 / 3 / 2 / 4; 
}
.div4 { 
  grid-area: 2 / 1 / 3 / 2; 
}
.div5 { 
  grid-area: 2 / 2 / 3 / 3; 
}
.div6 {
  grid-area: 2 / 3 / 3 / 4; 
}

/*End of Header Section*/

/*Roll Bar Section*/
.charsheet .rolebar {
  display: flex;
  font-family: "Jura";
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
}

.charsheet .rolebar .rolebar-left {
  width: 53%;
  display: flex;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(0,80,162);
  background: linear-gradient(0deg, rgba(0,80,162,1) 0%, rgba(0,121,244,1) 50%, rgba(0,121,244,1) 80%, rgba(69,157,246,1) 100%);
  padding-left: 5px;
  padding-right: 10px;
}

.charsheet .rolebar .split {
  height: 100%;
  position: relative;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.charsheet .rolebar .split .rolebar-level {
  flex: 1 0 3.5em;
}

.charsheet .rolebar .split .rolebar-role {
  flex-basis: 25%;
}

.charsheet .rolebar .split .rolebar-job {
  flex-basis: 50%;
}



.charsheet .rolebar .rolebar-middle {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 4px;
  background-color: green;
  width: 30%;
  position: relative;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(0,156,10);
  background: linear-gradient(0deg, rgba(0,102,7,1) 0%, rgba(0,192,12,1) 50%, rgba(0,192,12,1) 70%, rgba(75,232,85,1) 100%);
}

.charsheet .rolebar .rolebar-right {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 4px;
  background-color: purple;
  width: 20%;
  position: relative;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(89,45,115);
  background: linear-gradient(0deg, rgba(89,45,115,1) 0%, rgba(171,81,224,1) 50%, rgba(171,81,224,1) 80%, rgba(193,134,228,1) 100%);
}

.charsheet .rolebar .stacking-element {
  display: grid;
}

.charsheet .rolebar .stacking-element-font {
  font-size: 0.6em;
}

.charsheet .rolebar .dividing-line {
  height: 100%;
  font-size: 2.1em;
  font-weight: 400;
  transform: scale(1, 1.3);
}

.charsheet .rolebar input[type=number] {
  z-index: 2;
  width: 55px;
  height: 30px;
  font-size: 30px;
  padding: 0px;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
}

.charsheet .rolebar select {
  z-index: 2;
  appearance: none;
  background: transparent;
  border: none;
  color: white;
  text-transform: uppercase;
}
/*End of Role Bar Section*/

/*Body Section*/
.charsheet .body {
  display: flex;
  text-transform: uppercase;
  font-family: "Jura";
  font-weight: 700;
  font-style: normal;
}

.charsheet .body .body-left {
  width: 424px;
}

.charsheet .body .body-left label {
  font-family: "Jura";
}

.charsheet .body .body-statuspage {
  height: 320px;
  margin-top: 4px;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(0,80,162);
  background: linear-gradient(0deg, rgba(0,80,162,1) 0%, rgba(0,121,244,1) 50%, rgba(0,121,244,1) 80%, rgba(69,157,246,1) 100%);
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  color: white;
}

.charsheet .body .body-statuspage .grid-item {
  font-size: 24px;
  padding: 2px;
}

.charsheet .body .body-statuspage .grid-item span {
  display: inline-block;
  width: 50px;
}

.charsheet .body .body-statuspage .grid-item .span-longer {
  font-size: 20px;
  display: inline-block;
  width: 130px;
}

.charsheet .body .body-statuspage .grid-item .input-shorter {
  position: relative;
  bottom: 2px;
  appearance: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  width: 45px;
}

.charsheet .body .body-statuspage .grid-item label {
  color: white;
  font-size: 18px;
}

.charsheet .body .body-statuspage .grid-item hr {
  width: 70%;
  border-top: 2px solid white;
  text-align: left;
  position: relative;
  bottom: 28px;
  right: 32px;
}

.charsheet .body .body-statuspage input {
  position: relative;
  bottom: 2px;
  appearance: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  width: 110px;
}

.charsheet .body .body-statuspage button {
  width: 25px;
  height: 25px;
  align-content: center;
}

.charsheet .body .body-inventory {
  height: auto;
  margin-top: 4px;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(40,40,40);
  background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(74,74,74,1) 10%, rgba(74,74,74,1) 90%, rgba(97,97,97,1) 100%);
  color: white;
  font-family: "Bebas Neue";
  font-size: 16px;
  font-weight: 200;
  /*max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;*/
}

.charsheet .body .body-inventory label {
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  position: relative;
  left: 10px;
  top: 10px;
}

.charsheet .body .body-inventory input {
  background: transparent;
  border: none;
/*  border-bottom: 2px solid white;*/
  color: white;
  position: relative;
  top: -3px;
  font-size: 18px;
}

.charsheet .body .body-inventory .currencydiv {
  padding: 0.1em;
}

.charsheet .body .body-inventory .body-currency {
  padding: 0.5em;
}

.charsheet .body .body-inventory .amount {
  width: 6em;
}

.charsheet .body .body-inventory .editcurrencybutton {
  display: none;
  color: rgba(255,255,255,0.5);
  position: absolute;
  left: 375px;
  top: -10px;
  z-index: 5;
  border: none;
  background-color: transparent;
}

.charsheet .currencydiv .element {
  width: 424px;
}

.charsheet .body .body-inventory .currencydiv:hover > .editcurrencybutton {
  display: block;
}

.charsheet .body .body-inventory .editcurrencybutton:hover {
  color: rgba(255,255,255,1);
}

/*INVENTORY*/

.charsheet .body .body-inventory .body-items {
  padding: 0.5em;
}

.charsheet .body .body-inventory .body-items .inventorydiv {
  padding: 0.1em;
}

.charsheet .itemdiv {
  padding-bottom: 1em;
}

.charsheet .body .body-inventory .edititembutton {
  display: none;
  color: rgba(255,255,255,0.5);
  position: absolute;
  left: 350px;
  border: none;
  background-color: transparent;
}

.charsheet .body .body-inventory .editcollapsebutton {
  left: 325px;
}

.charsheet .body .body-inventory .itemdiv:hover > .edititembutton {
  display: block;
}

.charsheet .body .body-inventory .edititembutton:hover {
  color: rgba(255,255,255,1);
}

.charsheet .body .body-inventory .row {
  position: relative;
  left: 1em;
}

.charsheet .body .body-inventory .tags {
  font-style: italic;
  font-weight: 800;
}

.charsheet .body .sheet-icon {
  width: 24px;
  height: 24px;
  position: relative;
  padding-right: 0.2em;
}


.charsheet .body .body-right {
  text-transform: none;
  width: 414px;
  height: auto;
  margin-left: 4px;
  margin-top: 4px;
  position: relative;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(40,40,40);
  background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(74,74,74,1) 10%, rgba(74,74,74,1) 90%, rgba(97,97,97,1) 100%);
  color: white;
}

/*.charsheet .body .body-right:hover > .edittraitbutton {
  display: block;
}

.charsheet .body .body-right .edittraitbutton {
  color: black;
  position: absolute;
  left: 340px;
  top: 6px;
  background-color: rgba(255,255,255,.1);
  border: none;
  display: none;
}

.charsheet .body .body-right .edittraitbutton:hover {
  background-color: rgba(255,255,255,1);
}*/

.charsheet .body .body-right .edittraitbutton {
  display: none;
  color: rgba(255,255,255,0.5);
  position: absolute;
  left: 375px;
  top: -10px;
  border: none;
  background-color: transparent;
}

.charsheet .body .editcollapsebutton {
  display: none;
  color: rgba(255,255,255,0.5);
  position: absolute;
  left: 350px;
  top: -10px;
  border: none;
  background-color: transparent;
}

.charsheet .body .traitdiv:hover > .editcollapsebutton {
  display: block;
}

.charsheet .body .itemdiv:hover > .editcollapsebutton {
  display: block;
}

.charsheet .body .editcollapsebutton:hover {
  color: rgba(255,255,255,1);
}

.charsheet .body .body-right .traitdiv:hover > .edittraitbutton {
  display: block;
}

.charsheet .body .body-right .traitdiv .edittraitbutton:hover {
  color: rgba(255,255,255,1);
}

.charsheet .body .body-right .traitdiv {
  display: block;
  padding: 5px;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
}

.charsheet .body .body-right .traitdiv .traits-headerbar {
  background: lightgray;
  color: black;
  border-top: 2px solid black;
  padding-top: 5px;
}

.charsheet .body .body-right .traitdiv .traits-headerbar  {
  background-image: none;
}

.charsheet .body .body-right .traitdiv .traitdisplay:hover {
  color: grey;
}

button[type=roll].traitdisplay::before {
    font-size: 0em;
}

.charsheet .body .body-right label {
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  position: relative;
  left: 10px;
  top: 10px;
}

.charsheet .body .body-right textarea {
  font-weight: 400;
  width: 95%;
  height: 85%;
  background-color: white;
  appearance: none;
  border: none;
  color: black;
}

.charsheet .body .sheet-traits-show {
}

.charsheet .body .sheet-traits-header {
  display: flex;
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  transform: scale(1, 0.8);
}


.charsheet .body .traitdisplay {
  background: none;
  background-image: none;
  border: none;
  box-shadow: none;
  color: white;
  text-align: left;
  position: relative;
  left: -7px;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.charsheet .body .chargesdisplay {
  width: 100px; 
  float: right; 
  text-align: right;
  font-size: 25px;
}

.charsheet .body .traitchargesamount {
  position: relative;
  top: 2px;
  appearance: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-align: right;
  width: 20px;
}

.charsheet .body .traiteffect {
  position: relative;
  bottom: 13px;
  font-size: 15px;
  transform: scale(1.0);
  font-style: italic;
}

.charsheet .body .traitdescription {
  font-family: "Jura";
  text-transform: none;
}

.charsheet .body .repitem {
  padding-bottom: 3px;
}

.charsheet .body .sheet-traits-collapsed {
  height: 50px;
}

/*End of Body Section*/


/*Abilities Page Section*/
.charsheet .sheet-abilitiespage {
  margin: 0px;
  padding: 0px;
  width: 840px;
}

.charsheet .ability-limitbreak {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
  position: relative;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(40,40,40);
  background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(74,74,74,1) 10%, rgba(74,74,74,1) 90%, rgba(97,97,97,1) 100%);
  color: white;
}

.charsheet .sheet-abilities {
  width: 846px;
  display: flex;
  height: auto;
  color: white;
}

.charsheet .sheet-abilitiespage label {
  color: white;
  font-family: "Jura";
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  transform: scale(1, 0.8);
}

.charsheet .sheet-abilitiespage input[type=text] {
  width: 95%;
}

.charsheet .sheet-abilities .abilities-primary {
  width: 33%;
  display: block;
  margin-bottom: 3px;
  position: relative;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(221,69,120);
  background: linear-gradient(0deg, rgba(221,69,120,1) 0%, rgba(221,69,120,1) 10%, rgba(238,109,148,1) 90%, rgba(238,109,148,1) 100%);
}

.charsheet .sheet-abilities .abilities-secondary {
  width: 33%;
  display: block;
  margin-left: 3px;
  margin-bottom: 3px;
  position: relative;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(75,166,159);
  background: linear-gradient(0deg, rgba(75,166,159,1) 0%, rgba(75,166,159,1) 10%, rgba(107,197,188,1) 90%, rgba(107,197,188,1) 100%);
}

.charsheet .sheet-abilities .abilities-instant {
  width: 33%;
  display: block;
  margin-left: 3px;
  margin-bottom: 3px;
  position: relative;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(98,131,176);
  background: linear-gradient(0deg, rgba(98,131,176,1) 0%, rgba(98,131,176,1) 10%, rgba(138,157,199,1) 90%, rgba(138,157,199,1) 100%);
}


.charsheet .displaymode {
  display: flex;
}

.charsheet .sheet-diceroll {
  background: none;
  background-image: none;
  border: none;
  box-shadow: none;
  color: white;
  font-family: "Bebas Neue";
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 1px;
  transform: scale(1,1.1);
  padding: 0px;
  margin: 0px;
  position: relative;
  left: -10px;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.charsheet .sheet-diceroll:hover {
  color: grey;
}

button[type=roll].sheet-diceroll::before {
    font-size: 0em;
}

/* Collapsing Display Section */
.charsheet .sheet-diceroll-collapsed {
  background: none;
  background-image: none;
  border: none;
  box-shadow: none;
  color: white;
  font-family: "Bebas Neue";
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 1px;
  transform: scale(1,1.1);
  padding: 0px;
  margin: 0px;
  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  position: absolute;
  top: -35px;
  left: -10px;
}

.charsheet .sheet-abilities .sheet-block-collapse:checked ~ .toggle_repeating_npcaction_edit {
  top: 20px;
}

.charsheet .sheet-abilities .sheet-block-collapse:checked ~ .toggle_collapse {
  top: 20px;
}

.charsheet .sheet-abilities .sheet-limitation-collapsed {
  text-align: right;
  position: absolute;
  top: -40px;
  left: 155px;
}

.charsheet .sheet-abilities .sheet-tags-collapsed {
  font-family: "Bebas Neue";
  font-weight: 100;
  position: absolute;
  top: -18px;
  width: 200px;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.charsheet .sheet-abilities .input-shorter-collapsed {
  bottom: 2px;
  appearance: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.charsheet .sheet-diceroll-collapsed:hover {
  color: grey;
}

button[type=roll].sheet-diceroll-collapsed::before {
    font-size: 0em;
}

.repcontainer[data-groupname="repeating_skills"] > .repitem {
    background: none;
}

.charsheet .sheet-abilities .toggle_repeating_npcaction_edit {
  display: none;
  position: absolute;
  left: 220px;
  top: 15px;
  color: rgba(255,255,255,0.5);
  border: none;
  background-color: transparent;
}

.charsheet .ability-limitbreak .toggle_limitbreakcollapse {
  display: block;
  position: absolute;
  left: 760px;
  top: 5px;
  color: rgba(255,255,255,0.5);
  border: none;
  background-color: transparent;
}

.charsheet .ability-limitbreak .toggle_limitbreakcollapse:hover {
  color: rgba(255,255,255,1);
}

/* End of Collapsing Display Section */

/* Limitbreak Collapsing */
.charsheet .ability-limitbreak {
  min-height: 60px;
}

.charsheet .sheet-limitbreak-c .sheet-limitbreaktags-collapse {
  font-style: italic;
  z-index: 10;
}

.charsheet .ability-limitbreak .sheet-limitbreakcollapse:checked ~ .editlimitbreakbutton {
  position: absolute;
  left: 100px;
  top: 19px;
}

.charsheet .ability-limitbreak .sheet-limitbreakcollapse:checked ~ .toggle_limitbreakcollapse {
  position: absolute;
  left: 80px;
  top: 19px;
}

.charsheet .ability-limitbreak .limitbreak-image {
  min-width: 50px;
}

/* End of Limitbreak Collapsing */

.charsheet .ability-limitbreak .editlimitbreakbutton {
  display: block;
  position: absolute;
  left: 800px;
  top: 5px;
  color: rgba(255,255,255,0.5);
  border: none;
  background-color: transparent;
}

.charsheet .ability-limitbreak .editlimitbreakbutton:hover {
  color: rgba(255,255,255,1);
}

.charsheet .sheet-abilities .toggle_repeating_npcaction_edit:hover {
  color: rgba(255,255,255,1);
}


.charsheet .sheet-abilities .repcontainer[data-groupname="repeating_primaryability"]> .repitem:hover> .toggle_repeating_npcaction_edit {
  display: block;
}
.charsheet .sheet-abilities .repcontainer[data-groupname="repeating_secondaryability"]> .repitem:hover> .toggle_repeating_npcaction_edit {
  display: block;
}
.charsheet .sheet-abilities .repcontainer[data-groupname="repeating_instantability"]> .repitem:hover> .toggle_repeating_npcaction_edit {
  display: block;
}
.itemcontrol {
  z-index: 99;
}

.charsheet .sheet-abilities .repcontainer[data-groupname="repeating_primaryability"]> .repitem {
  padding-left: 5px;
  padding-bottom: 15px;
}
.charsheet .sheet-abilities .repcontainer[data-groupname="repeating_secondaryability"]> .repitem {
  padding-left: 5px;
  padding-bottom: 15px;
}
.charsheet .sheet-abilities .repcontainer[data-groupname="repeating_instantability"]> .repitem {
  padding-left: 5px;
  padding-bottom: 15px;
}

.charsheet .sheet-abilities .toggle_collapse {
  display: none;
  position: absolute;
  left: 240px;
  top: 15px;
  color: rgba(255,255,255,0.5);
  border: none;
  background-color: transparent;
}

.charsheet .sheet-abilities .repcontainer[data-groupname="repeating_primaryability"]> .repitem:hover> .toggle_collapse {
  display: block;
}
.charsheet .sheet-abilities .repcontainer[data-groupname="repeating_secondaryability"]> .repitem:hover> .toggle_collapse {
  display: block;
}
.charsheet .sheet-abilities .repcontainer[data-groupname="repeating_instantability"]> .repitem:hover> .toggle_collapse {
  display: block;
}

.charsheet .sheet-abilities .toggle_collapse:hover {
  color: rgba(255,255,255,1);
}

.charsheet .sheet-abilities .input-shorter {
  position: relative;
  bottom: 2px;
  appearance: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  width: 45px;
}


/*End of Abilities Page Section*/



/*FFXIV Main Roll Container*/
.sheet-rolltemplate-ffxivmain div {
  padding: 5px;
  padding-top: 6px;
  padding-bottom: 4px;
}

.sheet-rolltemplate-ffxivmain .sheet-header {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 0.7em;
  transform: scale(0.7, 1);
  font-weight: 500;
  color: white;
  text-align: center;
  padding-bottom: 0px;
}

.sheet-rolltemplate-ffxivmain .sheet-tags {
  font-size: 0.8em;
  font-style: italic;
  transform: scale(1.3, 1);
  padding-top: 3px;
}

.sheet-rolltemplate-ffxivmain .sheet-line {
  margin: 5px;
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 1px;
  width: 100%;
  border-width: 2px;
}

.sheet-rolltemplate-ffxivmain .sheet-info {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 0.5em;
  padding: 1px;
  transform: scale(1, 1);
  text-align: center;
}

.sheet-rolltemplate-ffxivmain .sheet-info-larger {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1em;
  padding: 1px;
  transform: scale(1, 1);
  text-align: center;
}

.sheet-rolltemplate-ffxivmain .sheet-template-header {
  color: #000;
  padding: 2px;
  font-size: 2.3em;
}

.sheet-rolltemplate-ffxivmain .sheet-value {
  text-align: center;
}

.sheet-rolltemplate-ffxivmain .sheet-template-row {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2em;
  transform: scale(0.8, 1.2);
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.sheet-rolltemplate-ffxivmain .sheet-template-masterheader-primary {
  background: rgb(246,162,187);
  background: linear-gradient(180deg, rgba(246,162,187,1) 0%, rgba(216,87,126,1) 10%, rgba(216,87,126,1) 100%);
  padding: 0px;
}

.sheet-rolltemplate-ffxivmain .sheet-template-masterheader-secondary {
  background: rgb(75,166,159);
  background: linear-gradient(0deg, rgba(75,166,159,1) 10%, rgba(75,166,159,1) 95%, rgba(93,207,198,1) 100%);
  padding: 0px;
}

.sheet-rolltemplate-ffxivmain .sheet-template-masterheader-instant {
  background: rgb(98,131,176);
  background: linear-gradient(0deg, rgba(98,131,176,1) 10%, rgba(98,131,176,1) 95%, rgba(125,168,227,1) 100%);
  padding: 0px;
}

.charsheet .header-tank {
  background: rgb(246,162,187);
  background: linear-gradient(180deg, rgba(246,162,187,1) 0%, rgba(216,87,126,1) 10%, rgba(216,87,126,1) 100%);
  padding: 0px;
}

.charsheet .header-healer {
  background: rgb(75,166,159);
  background: linear-gradient(0deg, rgba(75,166,159,1) 10%, rgba(75,166,159,1) 95%, rgba(93,207,198,1) 100%);
  padding: 0px;
}

.charsheet .header-dps {
  background: rgb(98,131,176);
  background: linear-gradient(0deg, rgba(98,131,176,1) 10%, rgba(98,131,176,1) 95%, rgba(125,168,227,1) 100%);
  padding: 0px;
}

.charsheet .header-other {
  background: rgb(0,121,244);
  background: linear-gradient(0deg, rgba(0,121,244,1) 10%, rgba(0,121,244,1) 95%, rgba(84,169,255,1) 100%);
  padding: 0px;
}

.sheet-rolltemplate-ffxivmain .sheet-template-masterheader-limitbreak {
  background: rgb(255,0,0);
  background: linear-gradient(0deg, rgba(255,0,0,1) 10%, rgba(255,0,0,1) 95%, rgba(255,94,94,1) 100%);
  padding: 0px;
}

.sheet-rolltemplate-ffxivmain div.sheet-template-container {
  position: relative;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(57,57,57);
  background: linear-gradient(180deg, rgba(92,92,92,1) 0%, rgba(29,29,29,1) 10%, rgba(29,29,29,1) 50%, rgba(29,29,29,1) 90%, rgba(0,0,0,1) 100%);
}

.sheet-rolltemplate-ffxivmain .inlinerollresult {
  background-color: transparent;
  color: white;
  border: transparent;
  font-family: "Romanesco";
  font-weight: 500;
  font-style: normal;
}

.sheet-rolltemplate-ffxivmain.sheet-rolltemplate-darkmode .inlinerollresult{
  background-color: transparent;
  border-color: transparent;
}

.sheet-rolltemplate-ffxivmain .inlinerollresult.fullfail {
  border: transparent;
  color: red;
}

.sheet-rolltemplate-ffxivmain .inlinerollresult.fullcrit {
  border: transparent;
  color: #00ff24;
}

.sheet-rolltemplate-ffxivmain .inlinerollresult.importantroll  {
  border: transparent;
}

.sheet-rolltemplate-ffxivmain a[href^="~"] {
  background-color: gray;
  display: block;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}
/*End of FFXIV Main Roll Container*/


/*FFXIV Damage Roll Template*/
.sheet-rolltemplate-ffxivdamage div.sheet-template-container {
  position: relative;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(57,57,57);
  background: linear-gradient(180deg, rgba(92,92,92,1) 0%, rgba(29,29,29,1) 10%, rgba(29,29,29,1) 50%, rgba(29,29,29,1) 90%, rgba(0,0,0,1) 100%);
}

.sheet-rolltemplate-ffxivdamage .sheet-header {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 0.7em;
  transform: scale(0.7, 1);
  font-weight: 500;
  color: white;
  text-align: center;
  padding-bottom: 0px;
}

.sheet-rolltemplate-ffxivdamage .sheet-template-header {
  color: #000;
  padding: 2px;
  font-size: 2.3em;
}

.sheet-rolltemplate-ffxivdamage .sheet-template-row {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2em;
  transform: scale(0.8, 1.2);
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.sheet-rolltemplate-ffxivdamage div {
  padding: 5px;
  padding-top: 6px;
  padding-bottom: 4px;
}

.sheet-rolltemplate-ffxivdamage .sheet-value {
  text-align: center;

}

.sheet-rolltemplate-ffxivdamage .sheet-line {
  margin: 5px;
  margin-top: 3px;
  margin-left: 0px;
  width: 100%;
  border-width: 2px;
}

.sheet-rolltemplate-ffxivdamage .sheet-info {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 0.5em;
  padding: 1px;
  transform: scale(1, 1);
  text-align: center;

}

.sheet-rolltemplate-ffxivdamage .inlinerollresult {
  background-color: transparent;
  color: white;
  border: transparent;
  border-color: transparent;
  font-family: "Romanesco";
  font-weight: 500;
  font-style: normal;
}

.sheet-rolltemplate-ffxivdamage .inlinerollresult.fullfail {
  border: transparent;
  color: red;
}

.sheet-rolltemplate-ffxivdamage .inlinerollresult.fullcrit {
  border: transparent;
  color: #00ff24;
}

.sheet-rolltemplate-ffxivdamage .inlinerollresult.importantroll  {
  border: transparent;
}

.sheet-rolltemplate-ffxivdamage a[href^="~"] {
  background-color: gray;
  display: block;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 3px;
  font-weight: 600;
}

.sheet-rolltemplate-ffxivdamage .sheet-tags {
  font-size: 0.7em;
  transform: scale(1.3, 1);
  padding-top: 1px;
  padding-bottom: 0px;
}

.sheet-rolltemplate-ffxivdamage .sheet-tags-2 {
  font-size: 0.7em;
  transform: scale(1.3, 1);
  padding-top: 1px;
  padding-bottom: 4px;
}
/*End of FFXIV Damage Roll Template*/



/*FFXIV Info Template*/
.sheet-rolltemplate-info div.sheet-template-container {
  position: relative;
  border-image: linear-gradient(rgba(255,237,164,1), rgba(255,223,96,1)) 30;
  border-width: 3px;
  border-style: solid;
  padding: 4px;
  border-radius: 3px 3px 3px 3px;
  outline: 2px solid #000 !important;
  background: rgb(57,57,57);
  background: linear-gradient(180deg, rgba(92,92,92,1) 0%, rgba(29,29,29,1) 10%, rgba(29,29,29,1) 50%, rgba(29,29,29,1) 90%, rgba(0,0,0,1) 100%);
  color: white;
  font-family: "Bebas Neue", sans-serif;
}

.sheet-rolltemplate-info .sheet-header {
  font-size: 1.7em;
  text-transform: uppercase;
  transform: scale(0.7, 1);
  text-align: center;
}

.sheet-rolltemplate-info .sheet-tag {
  font-size: 1.2em;
  text-transform: uppercase;
  font-style: italic;
  transform: scale(0.7, 1);
  text-align: center;
}

.sheet-rolltemplate-info .sheet-desc {
  padding-top: 8px;
  font-size: 1.0em;
}
/*End of FFXIV Info Template*/